<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p> hola </p>

<div class= "row">
  asdsadasd
    <div class="col-md-8">
      adasdad
    </div>
    <div class="col-md-2">
      asdasd
    </div>
  </div>
